html,body{
	background:rgb(252,252,252);
	height:100%;
	overflow:hidden;
}

.container{
	height:100%;
}
.canvas{
	position:absolute;
	top:80px;
	bottom:0px;
	width:100%;
}
.control{
	width:100%;
	height:80px;
}
.axis .domain{ display:none; }
.axis .domain-offset{ stroke:rgb(220,220,220); }
.axis .domain-overlay{ stroke:rgb(255,255,255); }
.axis .handle{
	fill:rgb(252,252,252);
	stroke:rgb(120,120,120);
	stroke-width:2;
}
.axis .tick line{ stroke:rgb(220,220,220); }
.axis .tick text{
	fill:rgb(100,100,100);
}
.axis .selected text{fill:black; font-weight:bold; font-size:1.2em;}

.node>circle{
	fill:white;
}
.node .medal{
	fill:black;
	stroke:rgb(100,100,100);
	stroke-width:1px;
}
.node .medal:hover{
	stroke:black;
	stroke-width:2px;
}
.node .medal-class{
	fill:rgb(252,252,252);
}